@import url(font/stylesheet.css);

body {
	background-color: #C0E5F5;
	margin: 0;
	padding: 0;
	background-image: url(clouds.png);
	background-repeat: repeat-x;
}

#container {
	width: 800px;
	padding-left: 220px;
	padding-top: 10px;
	background-image: url(stars.png);
	background-repeat: no-repeat;
	background-position: -40px left;
}

header {
	display: block;
}
header h1 {
	font-family: 'AirstreamRegular', Arial, sans-serif;
	font-weight: normal;
	font-size: 4em;
	text-shadow: rgba(255,255,255,0.8) -1px -1px 4px;
	color: #950438;
	margin: 50px 0 0 0;
	padding: 0;
}

#tv {
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
}