body {
	margin: 0;
	padding: 0;
	background-color: rgb(246, 245, 237);
	color: rgb(57, 57, 57);
	font-family: Cambria, Georgia, "Times New Roman", serif;
	text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
	font-size: 90%;
	text-align: center;
}

::selection {
	background: rgb(125, 172, 191);
	color: rgb(255, 255, 255);
	text-shadow: none !important;
	-webkit-text-shadow: none !important;
}

canvas, section, nav { 
	display: block;
	margin: 0; 
	padding: 0; 
}

/* Links */
a:link, a:active, a:visited {
	color: rgb(57, 57, 57);
	/*background-color: inherit;*/
	text-decoration: underline;
}
a:hover, a:focus {
	color: rgb(57, 57, 57);
}

/*#pre-content {
	display: block;
	opacity: 0.2;
	background-color: rgba(125, 172, 191, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 25em;
	margin-top: -24em;
	color: rgb(255, 255, 255);
	text-shadow: rgba(0,0,0,0.7) 1px 1px 1px;
	
	-webkit-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
#pre-content:hover {
	opacity: 1;
	margin-top: 0;
}

#pre-content a { color: rgb(255, 255, 255); }*/

header h1 { 
	font-family: Lobster, Calibri, Helvetica, Arial, sans-serif;
	font-weight: normal;
	/*color: rgb(255, 255, 255); */
	margin: 0.5em 0 0 0;
	padding: 0;
	
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

#description {
	display: none;
	position: fixed;
	top: 4.8em;
	left: 0;
	width: 100%;
}
#description-content {
	font-size: 1.1em;
	width: 50em;
	margin: 0 auto;
	text-align: left;
	line-height: 180%;
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.8);
	
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
	
	border-radius: 5px;
	border: 5px solid rgba(125, 172, 191, 0.8);
}

footer {
	font-size: 0.9em;
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
}
footer p, 
footer #controls {
	margin: 1em;
	padding: 0;
}
footer #controls {
	float: left;
	display: block;
	text-align: left;
}
footer #controls ul { 
	list-style-type: none; 
	display: inline;
	margin: 0;
	padding: 0;
}
footer #controls ul li {
	display: inline;
	margin: 0 0.5em 0 0;
	padding: 0;
}
footer #credits { 
	text-align: right;
	float: right; 
}
footer #credits .twitter-share-button {
	margin-bottom: -5px;
}

.separator {
	margin: 0 0.4em;
}
