body {
	margin: 0;
	padding: 0;
	background-color: rgb(246, 245, 237);
	color: rgb(57, 57, 57);
	font-family: Cambria, Georgia, "Times New Roman", serif;
	font-size: 90%;
	text-align: center;
}

#canvas { 
	display: block;
	margin: 0; 
	padding: 0; 
}

/* Links */
a:link, a:active, a:visited {
	color: rgb(57, 57, 57);
	/*background-color: inherit;*/
	text-decoration: underline;
}
a:hover, a:focus {
	color: rgb(57, 57, 57);
}

#pre-content {
	display: block;
	opacity: 0.2;
	background-color: rgba(125, 172, 191, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 8em;
	
	margin-top: -7em;
	-webkit-transition: all 0.3s ease-in;
}
#pre-content:hover {
	opacity: 1;
	margin-top: 0;
}

header h1 { 
	font-family: Lobster, Calibri, Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-shadow: rgba(0,0,0,0.5) 1px 1px 1px;
	color: rgb(255, 255, 255);
	margin: 0.3em 0 0 0;
	padding: 0;
	line-height: 2em;
	background: transparent url(bg-header.png) no-repeat bottom center;
}

#controls {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
}
#controls ul {
	list-style-type: none;
	margin: 0;
	padding: 0.5em 0 0.6em 0;
}
#controls ul li {
	margin: 0;
	padding: 0;
	display: inline;
	color: rgb(255, 255, 255);
    text-shadow: rgba(0,0,0,0.6) 1px 1px 1px;
}
#controls a:link, 
#controls a:active, 
#controls a:visited {
	padding: 0.5em 0.5em 0.6em 0.5em;
	color: #FFF;
    text-decoration: none;
}
#controls a:hover,
#controls a:focus {
/*    padding: 9px;*/
	padding: 0.5em 0.5em 0.6em 0.5em;
    background-color: #6B9DB0;
	background-color: rgba(84, 137, 157, 0.4em);
/*    background-image: url(../images/bg-menu-hover.png);*/
    background-position: bottom left;
    background-repeat: repeat-x;
}

footer {
	font-size: 0.9em;
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	text-align: right;
	display: block;
	width: 100%;
	text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}
footer p {
	margin: 1em;
	padding: 0;
}

.separator {
	margin: 0 0.4em;
}