body {
	background-color: #FFF;
	font-family: Cambria, Georgia, 'Times New Roman', serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.6;
}

h2 {
	font-variant: small-caps;
	font-size: 1.4em;
}

#container {
	max-width: 60em;
	margin: 0 auto;
	padding: 0 6px;
}

#branding {
	text-align: center;
	border-bottom: solid 1px #91bbcb;
	
	h1 {
	font-variant: small-caps;
		margin: 0.4em 0;
		padding: 0;
		font-size: 1.8em;
	}
}

#errors, #notice {
	margin: 0.5em 0;
	padding: 0.2em;
}
#errors {
	background-color: #fff1ec;
	border: solid 1px #802300;
}
#notice {
	background-color: #f8ffec;
	border: solid 1px #436a00;
}

#content {
	form {
		margin: 1em 0;
		padding: 0;
	
		ol {
			list-style-type: none;
			margin: 0;
			padding: 0;
			
			li {
				margin: 0;
				padding: 0;
			}
		}
	
		label {
			display: block;
		}
	}
}

#footer {
	font-family: Calibri, Arial, sans-serif;
	font-size: 0.8em;
	text-align: center;
	border-top: solid 1px #91bbcb;
	color: #646464;
	padding: 0.5em 0;
	
	a { color: #535353; }
	p {
		margin: 0;
		padding: 0;
	}
}
